@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  opacity: 0.75;
}

.container-center {
  width: 93%;
  max-width: 1440px;
  margin-inline: auto;
}
