@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  opacity: 0.75;
  line-height: 1.625;
}

.chat-bubble p {
  opacity: 1;
}

.container-center {
  width: 93%;
  max-width: 1440px;
  margin-inline: auto;
}

.swal2-popup {
  z-index: 100 !important;
}
